aniso8601 @ file:///tmp/build/80754af9/aniso8601_1597771691111/work
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600699250966/work
click==7.1.2
colorama==0.4.3
cryptography @ file:///C:/ci/cryptography_1601046913206/work
Flask==1.1.2
flask-restx @ file:///tmp/build/80754af9/flask-restx_1597772017480/work
Flask-SQLAlchemy @ file:///tmp/build/80754af9/flask-sqlalchemy_1596836624296/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1593446525189/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1596827328212/work
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema @ file:///C:/ci/jsonschema_1594363671836/work
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233945180/work
opencv-contrib-python==4.3.0.36
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.0
pexpect==4.8.0
Pillow==7.2.0
pluggy==0.13.1
protobuf==3.12.2
ptyprocess==0.6.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent @ file:///C:/ci/pyrsistent_1600123688363/work
pytest==0.0.0
python-dateutil==2.8.1
pytz==2020.1
scikit-image==0.17.2
scipy==1.4.1
six==1.15.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1598374801163/work
tabulate==0.8.7
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tifffile==2020.7.17
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
urllib3==1.25.10
Werkzeug==1.0.1
wincertstore==0.2
xlrd==1.2.0
zipp==3.1.0
